@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: #3A3838;
    /* 200, 400, 700, 900 */

    /* font-smooth: always; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* var */
    --black: #3A3838;
    --white: #fff;
    --lightBlue: #16B1BB;
    --darkBlue: #0D82A8;
    --purple: #AA1DFF;

}

.bold-text {
    color: #0D82A8;
    font-weight: 900;
}

main {
    display: table;
    width: 768px;
    height: 100vh;
    margin: 0 auto;
    background-color: var(--white);
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    padding-top: 70px;
    /* animation: fade-in 2s ease-in-out; */
}

.wrapper>img {
    width: 300px;
}

.wrapper-title {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 5.5rem;
    color: transparent;
    background: -webkit-linear-gradient(315deg, #16B1BB, #AA1DFF);
    font-weight: 900;
    font-style: italic;
    background-clip: text;
    text-align: center;
    line-height: 60pt;
    -webkit-background-clip: text;
}

.paragraph {
    font-size: 3rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    line-height: 40pt;
    color: transparent;
    background: -webkit-linear-gradient(315deg, #16B1BB, #AA1DFF);
    background-clip: text;
    -webkit-background-clip: text;
}

.faq {
    display: flex;
    flex-direction: column;
    /* border: 1px solid #3A3838; */
    padding: 25px;
    gap: .1rem;
}

.faq>h3 {
    font-size: 1.8rem;
    font-weight: 400;
    font-style: italic;
    padding: 10px 0;
}

.contact {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid #3A3838; */
    padding: 10px;
    margin: 20px auto;
}

.contact>h4 {
    width: 70%;
    font-weight: 400;
    font-size: 1.3rem;
    font-style: italic;
}


.social-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-links a {
    transition: .2s ease-in-out;
    width: 60px;
    /* not work firefox */
    /* &:hover {
        opacity: .5;
        transition: .2s ease-in-out;
    } */
}

.social-links a:hover {
    transform: scale(110%);
    transition: .2s ease-in-out;
}

/* Accordeon */
.accordion {
    background-color: var(--lightBlue);
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-radius: 6px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1rem;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #0D82A8;
}

.accordion:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel>p {
    padding: 16px;
}

.desafio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 0 auto;
    width: 70%;
}

.desafio>p {
    font-size: 1rem;
    font-style: italic;
}

.desafio>p>span {
    font-weight: 900;
    color: #0D82A8;
}

.desafio>a {
    width: 70%;
    height: 30px;
    padding: 10px;
    text-align: center;
    margin: 10px auto;
    border-radius: 6px;
    background-color: #0D82A8;
    text-decoration: none;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    margin-top: 30px;
    background-color: #0D82A8;
}

.footer>small {
    font-weight: 600;
    color: #fff;
}

@media screen and (max-width: 576px) {
    main {
        width: 315px;
        min-width: 315px;
    }

    .wrapper>img {
        width: 200px;
    }

    .title {
        text-align: center;
        font-size: 2.3rem;
        line-height: 32pt;
    }

    .paragraph {
        font-size: 1.3rem;
        line-height: 16pt;
        font-weight: 400;
    }

    .faq {
        padding: 0;
    }

    .faq>h3 {
        font-size: 1.5rem;
    }

    .panel>p {
        padding: 5px;
    }

    .contact {
        flex-direction: column;
        align-items: center;
        margin: 10px auto;
        gap: 20px;
    }

    .social-links>a {
        width: 80px;
    }

    .contact>h4 {
        width: 100%;
        font-weight: 400;
        font-size: 1.3rem;
        font-style: italic;
        /* text-align: center; */
    }

    .desafio {
        width: 100%;
    }

    .desafio>p {
        text-align: right;
        font-size: 1.2rem;
    }

}